<header>
   <h2>Node <em>&</em> Express</h2>
   <nav>
        <a href="/">Головна</a>
        <a href="/about">Про нас</a>
        <a href="/contacts">Контакти</a>
        <a href="/posts">Пости</a>
   </nav>
   <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Ім'я користувача" required>
        <input type="text" name="title" placeholder="Пост автора" required>
        <input type="text" name="text" placeholder="Вміст поста" required>
        <button type="submit">Опублікувати</button>
    </form>
</header>
